body {
  background-color: #e3e3e3;
}

.row-one {
  background-color: #008000;
}
.row-two {
  background-color: #FFFF00;
}
.row-three {
  background-color: #FF0000;
}
.row-four {
  background-color: #0000FF;
}
